html, body
{
	margin: 0;
	padding: 0;
<<<<<<< Updated upstream
	font-family: 'PT Serif', serif;
	background-color: #F2F2F2;
=======
	font-family: 'Georgia', serif;
>>>>>>> Stashed changes

}

h1
{
	margin: 1em 0;
	font-size: 36px;
	font-style: bold;
	line-height: 32px;
}
h2
{
	font-size:26;
	font-style:bold;
	margin: 2em 0;
}


p
{
	margin: 1em 10px;
	font-size: 18px;
	line-height: 30px;
	/*text-align: justify;
    text-justify: inter-word;*/

}

blockquote
{
	
	font-size: 18pt;
	margin:   2em -10px;
	line-height: 38px;
}

#wrapper
{
	/* padding: 50px 40px 20px 40px; */
}
header
{
	padding: 5vh 40px;
	height: 10vh;
}
footer
{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 100px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(83%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );  MICROSOFT... *sigh*  */
	/*	display:none;*/
}
hr
{
    border: 0;
  	border-top: 2px solid #000;
}

/* INTRO ESSAY STYES  */
.intro_scrollbox /* this is just a box so that we can scroll the intro wrapper */
{
	overflow-y:scroll;
}
.intro_wrapper
{
	height: 100vh;
}
.intro_essay
{

	height: 500px;
	width: 600px;
	margin-right:auto;
	margin-left:auto;
	float: center;

}

/* COMPLETE ESSAY STYLES */

.essay_wrapper
{
	clear: both;
}
.essay_nav, .essay_nav_inner
{
	width: 250px;
	float: left;
	margin-left: 20px;
	margin-top:90px;
}
.essay_nav ul
{
	padding: 10px 0 0;
}
.essay_nav li
{
	list-style-type: none;
	margin-bottom: 10px;
}
.scrolling 
{ /* keep the navigatation at the top */
    position: fixed;
    top: 0;
}
.essay_complete
{
	
	margin: 0 auto;
	width: 650px;
	margin-bottom: 200px;
}
<<<<<<< Updated upstream


.essay_nav_inner
=======
.courier, .footnote
>>>>>>> Stashed changes
{
	font-family: 'Univers', sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color:#404040:;
	
}

<<<<<<< Updated upstream
.footnote
{
	font-family: 'Univers', sans-serif;
	font-weight: normal;
	font-size:8pt;
	color:#404040;
}



=======
>>>>>>> Stashed changes
.footnotes p
{
	font-size:10pt;
	line-height: 26px;

}

/* ESSAY SWITCH STYLES */

.the_essay
{
	margin-top: 25px;
	padding-top: 25px;
	display: none;
}

/* andere stijlen */
.button
{
	color: #000;
	padding: 7px 10px;
	border:2px solid #000;
	font-family: 'Univers', sans-serif;
	font-size: 10pt;
	margin-left: 20pt;

}
.button:hover
{
	background: #000;
	color:#fff;
	text-shadow: none;
}

/* links stijlen */
a
{
	color: black;
	text-decoration: none;
}
a:hover
{
	color: red;
	text-decoration: underline;

}
a:visited
{
	text-decoration: none;
}
a:active
{
	text-decoration: none;
}
.draagbaar
{
	cursor: all-scroll;
	background-color: red;
	width: 300px;
	height: 300px;
	overflow-y: scroll;
	position: absolute;
	z-index: 0;
}
#frame_wrapper
{
	display: none;
}


span.anker
{
	width: 10px;
	height: 10px;
	position: absolute;
}

/*
	note; let op elke frame moet een TOP en een LEFT waarde hebben. OOK als die 0 is!
*/
#frame1
{
	
	top: 0px;
	left: 0px;

}
#frame2
{
	top: 0px;
	left: 0px;
}
#frame3
{
	top: 0px;
	left: -200px;
}
